body{
	background: #ffffff;
    margin:2%;
    padding:0.5%;
	font-size: 125%;
}


header{
    font-family: Arial, "Time New Roman", serif;    
    background-color: #000000;
    background-image: url(flywheel.jpg);
    background-size: 100%;
    padding:1%;
}

h1{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
}

nav{
    font-size: 150%;
    text-align:center;
    
}

nav a{
	display: inline-block;
    background: #fdebeb;
    color: #000000;
    width:15%;
    text-decoration: none;
    border-radius: 10px;
    padding: 15px ;
    margin: 1%;
}

h2{
	color: #000000;   
}

.left {
	width:22%;	
	display: inline-block;
    float:left;
    background-color: #20631a;      
    
}

.left img {
    border: solid 2px #000000; 
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    display: block;
}

.right {
    width: 75%;
    display:inline-block;    
    float:right;
}
